@import
url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    background-color: #74D8D8;
}

h1{
    text-align: center;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2%;
}

h2{
    text-align: center;
    font-family: Montserrat, sans-serif;
    margin-top: 5%;
}

.bokaTitel{
    margin-top: 8%
}

footer {
    background-color: #333333;
    color: #dddddd;
    font-family: Montserrat, sans-serif;
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 150%;
}

h3 {
    text-align: left;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 7%;
    padding-top: 5%;
    padding-right: 7%;
    padding-bottom: 5%;
    background-color: #AAEDED;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    line-height: 175%;
}

form {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #AAEDED;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    line-height: 175%;

}

div#tabell{
    display: table;    
}
    
div#tabellrad{
    display: table-row;     
}
    
section#vanster{
    display: table-cell; 
    text-align: justify;
    width: 10%;
    text-align: center;
}

section#hoger{
    display: table-cell; 
    text-align: justify;
    width: 10%;
    text-align: center; 
}

.column{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

button{
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #dddddd;
    font-size: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

#med{
    margin-left: 5%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

#reception{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 85%;
}

#utsida{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 50%;
}

.boka{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 85%;
}

#karta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

@media only screen and (min-width : 150px) and (max-width : 700px)
{
    section#vanster {
        float: left;
        width: 100%;
        text-align: left;
        border-radius: 5px;
        padding: 1%;
        margin-left: 0%;
        margin-right: 7%;
    }
    
    section#hoger {
        float: left;
        width: 100%;
        text-align: left;
        border-radius: 5px;
        padding: 1%;
        margin-left: 0%;
    }
    
    button{
        margin-left: 35%;
        margin-right: 35%;
    }
    
}