
/*=================================================
||				9.  min call center
==================================================*/
background{
    color:white;
}
.sponsor{
	text-align: center;
	background: #f9f9f9;
}
.sponsor-item{
	 /*width: 100px !important; */
	padding: 30px;
	opacity: .3;
	transition: all .4s ease-in-out;
	margin-bottom: 30px;
}
.sponsor-item:hover{
	opacity: 1;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #60c9eb;
}
.owl-theme .owl-dots .owl-dot span{
	background: #f1f1f1;
}

